<div class="side_menu">
  <div class="user_name">
    <a href="#">TAROU</a>
  </div>
  <div class="create_chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="room_space">
  <div class="room_name">
    <a href="#">room1111</a>
  </div>
  <div class="room_name">
    <a href="#">room2222</a>
  </div>
</div>